.calendario-centro {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding: 20px;
  box-sizing: border-box;
}

ion-datetime {
  width: 90%;
  max-width: 400px;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
}
ion-datetime .datetime-text {
  font-size: 16px;
  color: #ffffff;
}