name: Integración Continua
run-name: Se estan corriendo los tests de la aplicación
on: [push, pull_request, workflow_dispatch]

jobs:
  wireguard:
    runs-on: ubuntu-latest
    steps:
      - run: sudo apt-get install -y wireguard
      - run: |
          echo "${{ secrets.WIREGUARD_PRIVATE_KEY }}" > privatekey
          echo "${{ secrets.WIREGUARD_PRESHARED_KEY }}" > presharedkey
      - run: sudo ip link add dev wg0 type wireguard
      - run: |
          sudo ip address add dev wg0 ${{ secrets.WIREGUARD_IP }} peer ${{ secrets.WIREGUARD_PEER }}
          wg set wg0 private-key privatekey peer j6qLpp3wAg2cw7VZabotPCzxpaRzIvDV4zHP1xt5DQY= preshared-key presharedkey endpoint ${{ secrets.WIREGUARD_ENDPOINT }}:51821 allowed-ips ${{ secrets.KUBERNETES_ENDPOINT }}/32,${{ secrets.WIREGUARD_PEER }}/32
          sudo ip link set up dev wg0
          sudo ip route add ${{ secrets.KUBERNETES_ENDPOINT }}/32 via ${{ secrets.WIREGUARD_PEER }} dev wg0
  tests:
    runs-on: ubuntu-latest
    steps:
      - run: ls -l
      - run: pwd > path.txt
      - run: ls -l
  build:
    runs-on: ubuntu-latest
    needs: tests
    steps:
      - run: echo "Building the application..."
      - run: pwd > build_path.txt
      - run: ls -l
  deploy:
    runs-on: ubuntu-latest
    needs: 
      - build
      - wireguard
    steps:
      - run: echo "Deploying the application..."
      - run: ping ${{ vars.KUBERNETES_ENDPOINT }} -c 3 > deploy.txt
      - run: cat deploy.txt
