name: Integración Continua
run-name: Se estan corriendo los tests de la aplicación
on: [push, pull_request]

jobs:
 # tests:
 #   runs-on: ubuntu-latest
 #   steps:
 #     - run: ls -l
 #     - run: pwd > path.txt
 #     - run: ls -l
  # build:
  #   runs-on: ubuntu-latest
  # #  needs: tests
  #   steps:
  #     - run: echo "Compilación de la imagen de la aplicación..."
  #     - name: Autenticación en el repositorio de Docker Hub
  #       run: echo "${{ secrets.DOCKER_HUB_PASSWORD }}" | docker login -u ${{ vars.DOCKER_HUB_USER }} --password-stdin
  #     - uses: actions/checkout@v4
  #     - name: Compilando la imagen del backend
  #       run: |
  #         cd backend/fastapi && \
  #         docker build -t ${{ vars.DOCKER_HUB_USER }}/backend:latest .
  #     - name: Subiendo la imagen del backend a Docker Hub
  #       run: docker push ${{ vars.DOCKER_HUB_USER }}/backend:latest
  #     - run: docker logout
  deploy:
    runs-on: ubuntu-latest
    #needs: [ build ]
    steps:
      - run: sudo apt-get install -y wireguard
      - run: echo "${{ secrets.WIREGUARD_PRIVATE_KEY }}" > privatekey
      - run: echo "${{ secrets.WIREGUARD_PRESHARED_KEY }}" > presharedkey
      - run: sudo ip link add dev wg0 type wireguard
      - run: sudo ip address add dev wg0 ${{ secrets.WIREGUARD_IP }} peer ${{ secrets.WIREGUARD_PEER }}
      - run: sudo wg set wg0 private-key privatekey peer j6qLpp3wAg2cw7VZabotPCzxpaRzIvDV4zHP1xt5DQY= preshared-key presharedkey endpoint ${{ secrets.WIREGUARD_ENDPOINT }}:51821 allowed-ips ${{ secrets.KUBERNETES_ENDPOINT }}/32,${{ secrets.WIREGUARD_PEER }}/32
      - run: sudo ip link set up dev wg0
      - run: sudo ip route add ${{ secrets.KUBERNETES_ENDPOINT }}/32 via ${{ secrets.WIREGUARD_PEER }} dev wg0
      - run: sudo bash -c 'echo "${{ secrets.KUBERNETES_ENDPOINT }}  rke2.inf.uct.cl" >> /etc/hosts'
      - run: ping rke2.inf.uct.cl -c 3
      - run: sudo snap install kubectl --classic
      - run: echo "Desplegando la aplicación..."
      - run: mkdir ../.kube
      - run: |
          cat <<EOF > ../.kube/config
          apiVersion: v1
          kind: Config
          clusters:
          - cluster:
              certificate-authority: server-ca.crt
              server: https://rke2.inf.uct.cl:6443
            name: cluster-kubernetes
          contexts:
          - context:
              cluster: cluster-kubernetes
              user: ${{ secrets.KUBERNETES_USER }}
              namespace: default
            name: ${{ secrets.KUBERNETES_USER }}-context
          current-context: ${{ secrets.KUBERNETES_USER }}-context
          users:
          - name: ${{ secrets.KUBERNETES_USER }}
            user:
              client-certificate: ${{ secrets.KUBERNETES_USER }}.crt
              client-key: ${{ secrets.KUBERNETES_USER }}.key
          EOF
      - run: |
          cat <<EOF > ../.kube/server-ca.crt
          ${{ secrets.KUBERNETES_CA_FILE }}
          EOF
      - run: |
          cat <<EOF > ../.kube/${{ secrets.KUBERNETES_USER }}.crt
          ${{ secrets.KUBERNETES_USER_CRT }}
          EOF
      - run: |
          cat <<EOF > ../.kube/${{ secrets.KUBERNETES_USER }}.key
          ${{ secrets.KUBERNETES_USER_KEY }}
          EOF
      - uses: actions/checkout@v4
      - run: export KUBECONFIG=../.kube/config && kubectl delete -f deploy/kubernetes/backend-deployment.yml && kubectl apply -f deploy/kubernetes/backend-deployment.yml