name: Integración Continua
run-name: Se estan corriendo los tests de la aplicación
on: [push, pull_request]

jobs:
  wireguard:
    runs-on: ubuntu-latest
    steps:
      - run: sudo apt-get install -y wireguard
      - shell: bash
        env:
          wireguard_private_key: ${{ secrets.WIREGUARD_PRIVATE_KEY }}
          wireguard_preshared_key: ${{ secrets.WIREGUARD_PRESHARED_KEY }}
        run: |
          echo "$wireguard_private_key" > privatekey
          echo "$wireguard_preshared_key" > presharedkey
      - run: sudo ip link add dev wg0 type wireguard
      - shell: bash
        env:
          wireguard_ip: ${{ secrets.WIREGUARD_IP }}
          wireguard_peer: ${{ secrets.WIREGUARD_PEER }}
          wireguard_endpoint: ${{ secrets.WIREGUARD_ENDPOINT }}
          kubernetes_endpoint: ${{ secrets.KUBERNETES_ENDPOINT }}
        run: |
          sudo ip address add dev wg0 $wireguard_ip peer $wireguard_peer
          wg set wg0 private-key privatekey peer j6qLpp3wAg2cw7VZabotPCzxpaRzIvDV4zHP1xt5DQY= preshared-key presharedkey endpoint $wireguard_endpoint:51821 allowed-ips $kubernetes_endpoint/32,$wireguard_peer/32
          sudo ip link set up dev wg0
          sudo ip route add $kubernetes_endpoint/32 via $wireguard_peer dev wg0
  tests:
    runs-on: ubuntu-latest
    steps:
      - run: ls -l
      - run: pwd > path.txt
      - run: ls -l
  build:
    runs-on: ubuntu-latest
    needs: tests
    steps:
      - run: echo "Building the application..."
      - run: pwd > build_path.txt
      - run: ls -l
  deploy:
    runs-on: ubuntu-latest
    needs: 
      - build
      - wireguard
    steps:
      - run: echo "Deploying the application..."
      - run: ping ${{ vars.KUBERNETES_ENDPOINT }} -c 3 > deploy.txt
      - run: cat deploy.txt
